<div id="cookie-consent" class="cookie-consent" style="display: none;">
  <div class="cookie-consent-content">
    <p>{{t "privacy.cookieMessage"}}</p>
    <div class="cookie-consent-buttons">
      <button id="cookie-consent-necessary" class="btn-necessary">{{t "privacy.cookieNecessary"}}</button>
      <button id="cookie-consent-accept" class="btn-accept">{{t "privacy.cookieAcceptAll"}}</button>
    </div>
    <a href="/privacy" class="cookie-consent-link">{{t "privacy.policy"}}</a>
  </div>
</div>

