<div class="language-switcher">
  <a href="?lang=sv" class="{{#if (eq locale 'sv')}}active{{/if}}">Svenska</a>
  <span>|</span>
  <a href="?lang=en" class="{{#if (eq locale 'en')}}active{{/if}}">English</a>
</div>

