<div class="error-page">
  <div class="error-content">
    <div class="error-icon">404</div>
    <h1>{{t "404.title"}}</h1>
    <p>{{t "404.message"}}</p>
    <a href="{{basePath}}/" class="btn-primary">{{t "404.backHome"}}</a>
  </div>
</div>
