<div class="error-page">
  <div class="error-content">
    <div class="error-icon">500</div>
    <h1>{{t "500.title"}}</h1>
    <p>{{t "500.message"}}</p>
    <a href="{{basePath}}/" class="btn-primary">{{t "500.backHome"}}</a>
  </div>
</div>
